/*ckeditor*/
.cke_contents {
    height: 350px !important;
}

/*sidebar recent post*/
.title-recent-post-sidebar{
    overflow: hidden;
    height: 2.5em;
    font-size: 15px!important;
}
/*sidebar recent topic*/
.title-topic-choose{
    color:#E84D1C!important;
}
/*header icon*/
.nav-icon{
    font-size: 17px;
}
/*user icon*/
li .user-icon{
    padding-left: 0px;
    padding-right: 0px;
}

li .user-icon:hover{
    background: red;
    color:orangered;
}

.dropdown-user{
    min-width: 135px;
}

.sticky {
    position: fixed;
    top: -10px;
    width: 100%;
}

/*searchbar*/
[view=search] {
    height: 29.5px;
    margin-bottom: 1px;
}

[view=header] .main .search-bar {
    display: flex;
    margin-top: 21px;
    height: 40px;
    width: 100%;
    margin-bottom: 15px;
    flex: 1 1 auto;
    margin-left: 30px;
    /* margin-right: 50px; */
    border-radius: 7px;
    box-shadow: 2px 2px 14px 2px rgba(5, 5, 13, 0.2);
    background: white;
    position: relative;
}

[view=header] .main .search-bar input {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    flex: 1 1 auto;
    font-family: Lato;
    font-size: 16px;
    background: none;
    border: none;
    outline: none;
}

[view=header] .main form {
    flex: 1 1 auto;
    max-width: 400px;
}

[view=header] .main .search-bar .fa-search {
    display: flex;
    height: 100%;
    width: 18%;
    flex: 0 0 auto;
    align-items: center;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    right: 0;
    border: none;
    outline: none;
    background: #f3565d;
}


/*login and signup social*/
.btn-lg {

    font-size: 15px !important;
}

.loginBtn {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
}

.loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
}

.loginBtn:focus {
    outline: none;
}

.loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}

/* Facebook */
.loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    text-shadow: 0 -1px 0 #354C8C;
}

.loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}

.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
}

/* Google */
.loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: #DD4B39;
}

.loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}

.loginBtn--google:hover,
.loginBtn--google:focus {
    background: #E74B37;
}

@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
    line-height: 300%;
}

.omb_login .omb_socialButtons a {
    color: white;
/ / In yourUse @body-bg opacity: 0.9;
}

.omb_login .omb_socialButtons a:hover {
    color: white;
    opacity: 1;
}

.omb_login .omb_socialButtons .omb_btn-facebook {
    background: #3b5998;
}

.omb_login .omb_socialButtons .omb_btn-twitter {
    background: #00aced;
}

.omb_login .omb_socialButtons .omb_btn-google {
    background: #c32f10;
}

.omb_login .omb_loginOr {
    position: relative;
    font-size: 1.5em;
    color: #aaa;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.omb_login .omb_loginOr .omb_hrOr {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.omb_login .omb_loginOr .omb_spanOr {
    display: block;
    position: absolute;
    left: 50%;
    top: -0.6em;
    margin-left: -1.5em;
    background-color: white;
    width: 3em;
    text-align: center;
}

.omb_login .omb_loginForm .input-group.i {
    width: 2em;
}

.omb_login .omb_loginForm .help-block {
    color: red;
}

.omb_login {
    margin-bottom: 100px;
}

@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
        margin-top: 10px;
    }
}
/*checkbox*/
.checkbox{
    margin-left: 20px;
}
/*edit icon in detial page*/
.edit-in-detail{
    list-style-type: none;
}